[Unit]
Description=Cyberway Wallet CLI

[Service]
ExecStart=/home/deploy/cyberway.golos_wallet/src/index.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
EnvironmentFile=/home/deploy/cyberway.golos_wallet/.env
WorkingDirectory=/home/deploy/cyberway.golos_wallet
Type=simple
SyslogIdentifier=golos_wallet
StandardOutput=syslog
StandardError=syslog
LimitNOFILE=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target